 <!-- Remove the container if you want to extend the Footer to full width. -->
 <div class="  col-lg-12 pt-5 ">

    <footer class="text-center text-white" style="background-color:white;box-shadow: 1px 0px  2px #29335C ;">
    <!-- Grid container -->
    <div class="container pt-2 w3-row " >
      <!-- Section: Iframe -->  
      <section class="w3-block">
        <div class="row d-flex justify-content-center ms-1 container-fluid">
          <div class="col-lg-6 mt-2 ">
              
                <video class="shadow-1-strong rounded"  allowfullscreen="allowfullscreen" allow="autoplay"
                controls muted 
                poster="../assets/images/logo2.png" class="img-fluid">
                <source src="../assets/videos/GoPro.mp4" title="video/mp4" width="300px" height="200px">
                <source src="../assets/videos/GoPro.mp4" title="video/ogg" width="300px" height="200px">
              
            </video>
           
              
          </div>
         
         
         
        </div>
      </section>
      <!-- Section: Iframe -->
    </div>
    <!-- Copyright -->
    <div class="  pt-5">
    <div class=" pt-2 " style="background-color:#29335C;">
      <div class=" row  col-lg-12 ">
      <div class="col-lg-4" > <p style="color:white ;">Copyright © 2022 : TechStrive ESPITA</p></div>
      <div class="col-lg-8 	 " >
      <a href="#"> <img src="../assets/images/icons8-facebook-nouveau-50.png" alt="facebook" width="25px" height="25px" ></a>
      <a href="#"><img src= "../assets/images/icons8-instagram-32.png" alt="instagram" width="25px" height="25px" ></a>
        <a href="#"><img src= "../assets/images/icons8-linkedin-entouré-50.png" alt="linkInd" width="25px" height="25px"></a>
          <a href="#"><img src= "../assets/images/icons8-twitter-80.png" alt="twitter" width="25px" height="25px"></a>
  
    </div>
    
    <app-scroll-to-top></app-scroll-to-top>
  <app-contact-ico></app-contact-ico>
  
    </div></div>
    <!-- Copyright --></div>
  </footer>
    
  </div>
  <!-- End of .container -->