

<div class="w3-row-padding mt-2 ms-4  me-1">
  <div class="w3-col m10 ">
    <div class="w3-card w3-round w3-white">
      <div class="w3-container w3-padding w3-center pho">
        <p>Photos or video of my events </p>
        </div>
    </div>
  </div>
</div>
 <!-- Middle Column -->

 <div class="w3-row-padding" class="w3-round ms-2 me-2">
    <div class="w3-col m12 w3-container">
      <div class="w3-card w3-round w3-white">
   
         
        <div class="card w3-col w3-margin" routerLink="/side/detailEve"><h4 class="titleev w3-center mt-3 mb-2"><b>CONGRÈS</b></h4> 
             
            <img class="img-fluid w3-center ms-3  me-3" src="../../../assets/images/congré.webp" alt="Avatar"   >
            <div class="container mt-2 crd">
              <p>ORGANISER UNE CONFÉRENCE OU UN CONGRÈS POUR MON ENTREPRISE
            </p>
            </div>
          </div>
          <div class="card w3-col w3-margin" routerLink="/side/detailEve"><h4 class="titleev w3-center mt-3 mb-2"><b>CONGRÈS</b></h4> 
             
            <img class="img-fluid w3-center ms-3  me-3" src="../../../assets/images/congré.webp" alt="Avatar"   >
            <div class="container mt-2 crd">
              <p>ORGANISER UNE CONFÉRENCE OU UN CONGRÈS POUR MON ENTREPRISE
            </p>
            </div>
          </div>
          <div class="card w3-col w3-margin" routerLink="/side/detailEve"><h4 class="titleev w3-center mt-3 mb-2"><b>CONGRÈS</b></h4> 
             
            <img class="img-fluid w3-center ms-3  me-3" src="../../../assets/images/congré.webp" alt="Avatar"   >
            <div class="container mt-2 crd">
              <p>ORGANISER UNE CONFÉRENCE OU UN CONGRÈS POUR MON ENTREPRISE
            </p>
            </div>
          </div>
          <div class="card w3-col w3-margin" routerLink="/side/detailEve"><h4 class="titleev w3-center mt-3 mb-2"><b>CONGRÈS</b></h4> 
             
            <img class="img-fluid w3-center ms-3  me-3" src="../../../assets/images/congré.webp" alt="Avatar"   >
            <div class="container mt-2 crd">
              <p>ORGANISER UNE CONFÉRENCE OU UN CONGRÈS POUR MON ENTREPRISE
            </p>
            </div>
          </div>
          <div class="card w3-col w3-margin" routerLink="/side/detailEve"><h4 class="titleev w3-center mt-3 mb-2"><b>CONGRÈS</b></h4> 
             
            <img class="img-fluid w3-center ms-3  me-3" src="../../../assets/images/congré.webp" alt="Avatar"   >
            <div class="container mt-2 crd">
              <p>ORGANISER UNE CONFÉRENCE OU UN CONGRÈS POUR MON ENTREPRISE
            </p>
            </div>
          </div>
          <div class="card w3-col w3-margin" routerLink="/side/detailEve"><h4 class="titleev w3-center mt-3 mb-2"><b>CONGRÈS</b></h4> 
            
            <video
              class="shadow-1-strong rounded ms-3  me-3"
              src="../assets/videos/GoPro.mp4"
              title="YouTube video"
              allowfullscreen
              controls muted poster="../assets/images/logo.png" 
            >
            </video>
            <div class="container mt-2 crd">
              <p>ORGANISER UNE CONFÉRENCE OU UN CONGRÈS POUR MON ENTREPRISE
            </p> 
            </div>
          </div>
          <div class="card w3-col w3-margin" routerLink="/side/detailEve"><h4 class="titleev w3-center mt-3 mb-2"><b>CONGRÈS</b></h4> 
             
            <img class="img-fluid w3-center ms-3  me-3" src="../../../assets/images/congré.webp" alt="Avatar"   >
            <div class="container mt-2 crd">
              <p>ORGANISER UNE CONFÉRENCE OU UN CONGRÈS POUR MON ENTREPRISE
            </p>
            </div>
          </div>
      </div>
    </div>
</div>
  
  <!-- End Middle Column -->
  