@import "~leaflet/dist/leaflet.css";

.map-container {
   height: 700px;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .map-frame {
    /* border: 1px solid #29335C; */
    height: 100%;
  }
  
  #map {
    height: 100%;
  }