   
<div class="  mt-5   pt-5 mb-5 col-md-9  pb-5 container " id="compte"  >
  <div class="row">    
<div class="col-md-5  mt-5">
  <img src="../../../assets/images/acc1.png" alt="userAccount" width="300px" height="300px" class="img-fluid">
</div>
      <div class="col-md-7 ">
          <div class="contact-form">
              <div class="form-group">
                <label class="control-label col-sm-2" for="fname"></label>
                <div class="col-sm-5">   
                  <h1 style="color:#E4572E;"><b>Create New Account</b> </h1>
                  <hr style="height:3px ;width: 250px;color: #E4572E;"><br>
                <mat-form-field appearance="outline" class="example-form  exF">
                  <mat-label style="color:#29335C ;"> First Name</mat-label>
                  <input matInput type="text" placeholder="Enter First Name">
                </mat-form-field>
              </div>
              </div>
              <div class="form-group">
                <div class="col-sm-5">          
                  <mat-form-field appearance="outline" class="example-form  exF">
                    <mat-label style="color:#29335C ;"> ID card number</mat-label>
                    <input matInput type="number" placeholder="Enter your ID card number">
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-5">
                  <mat-form-field appearance="outline" class="example-form  exF" >
                    <mat-label style="color:#29335C ;"> Email</mat-label>
                    <input matInput type="email" placeholder="Your email">
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group">
                <div class="col-sm-5">
                  <mat-form-field appearance="outline" class="example-form  exF">
                    <mat-label style="color:#29335C ;"> Password</mat-label>
                    <input matInput type="password" placeholder="Password" >
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group">
                <label class="control-label col-sm-2" for="comment"></label>
                <div class="col-sm-5">
                  <mat-form-field appearance="outline" class="example-form  exF">
                    <mat-label style="color:#29335C ;"> Password</mat-label>
                    <input matInput type="password" placeholder="Repeat Password">
                  </mat-form-field>
                </div>
              </div>
              <div class="form-group">        
                <div class="col-sm-offset-2 col-sm-10">
                  <button type="button" class="btn  w3-margin-bottom me-4 res" > 
                    <img  src="../../../assets/images/icons8-enregistrer-sous-100.png" alt="save" width="30px" height="30px" >&nbsp;Save</button> 
                  <button type="button" class=" btn w3-margin-bottom res">
                    <img src="../../../assets/images/icons8-resaisir-code-pin-50.png" alt="save" width="30px" height="30px" >&nbsp;Reset</button> 
                  </div>
              </div>
          </div>
      </div>
      
  </div> 
  </div>