<div class="container-fluid pt-5 mb-4">
    <div class="row px-xl-5">
        <!--  Sidebar Start -->
        <div class="col-md-1" style="height: 80%;" >
          
          <button class="btn btn-primary" routerLink="/addPost" >Add Post</button>

        </div>
        <div   class="d-flex justify-content-center row mx-1 "  style="margin-top: 100px;margin-bottom: 100px;margin-left: 50px;" >
          <div   class="col-md-12  ev2 m-1" >
           <div class="row ">
                <div class="  col-md-8 mb-5  desev1 lead mt-5" >
                 <h3 >Event Title</h3>
                 <hr  class="w3-center  ms-5 me-5 ">
                 <h2>Date: </h2>
                 <h2>Organizer: </h2>
                   <p><br>
                      <b>
                  Run highly engaging in person, virtual and hybrid events<br>
                  Eventtia’s all-in-one event planning platform makes planning,
                   managing,<br> and memorable event experiences easier than ever.</b> </p>
                  </div>
                  <div class=" col-md-4   mt-5" >
                    <img src="../../../assets/images/123.jpg" alt="" srcset="" width="50%">
                  </div>           
                </div>
              </div>
                </div>
        <div class="container col-md-8" style="background-color:#f8f9fa;" >
          
            <!-- <div class="w3-container w3-card w3-white w3-round w3-margin"><br>
           
              </div> -->

              
           
              
           </div>
        </div>
      </div>
        <!--  Sidebar End -->
           