
 <div class="   mt-5  mb-1 " style="padding-left: 40%;padding-right:20%;">

  <mat-card class="example-card w3-center bod" style="background-color:rgba(255, 255, 255, 0) ;box-shadow: 1px 1px 1px 1px #29335C; " >
    <mat-card-title-group class="m-3 w3-center">
      <mat-card-title >The <img src="../../../assets/images/icons8-flèche-haut-32.png" width="25px" height="25px"> Agency</mat-card-title>
      <mat-card-subtitle ><img class="img-fluid" src="../../../assets/images/icons8-deux-mains-100.png"width="60px" height="40px" ></mat-card-subtitle>
    </mat-card-title-group>
    <mat-card-content >    <h3 >Lorem ipsum dolor sit amet consectetur  recusandae officia. </h3>

    </mat-card-content>
  </mat-card>
</div><hr class="m-5">
   
<!-- //////////////////////////////////////// -->

<!-- //////////////////////// -->
<div class="row row-cols-1 row-cols-md-3 g-4 mt-5">
 
    <div class="col"><a href=""  data-toggle="modal" data-target="#myModal" style="text-decoration:none;">
      
       <div class="card h-100 ">
       
        <img src="../../../assets/images/astoundGroup.jpeg" class="card-img-top img-fluid" alt="astoundGroup" data-bs-toggle="#Mymodal">
        <div class="card-body">
          <h5 class="card-title">ASTOUND GROUP</h5>
        </div>
      </div></a>
    </div>  
    <!-- .modal -->
    <!-- Button to Open the Modal -->


<!-- The Modal -->
<div class="modal  container  col-lg-12"  id="myModal" width="900px" height="150px" >
  <div class="modal-dialog   row">
    <div class="modal-content  ">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ASTOUND GROUP</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">
        <div class=" col-lg-4"><img src="../../../assets/images/astoundGroup.jpeg" 
          class="card-img-top" alt="astoundGroup" >
        </div>
        <div class="  col-lg-8">
          <table style="width:400px;height: 400px;">
            <tr> <td>Website</td>
              <td>astoundgroup.com </td></tr>
              <tr class="tr1">
                <td>Opned</td>
                <td>2001</td></tr>
                <tr>
                  <td>HQ</td>
                  <td>
                    Las Vegas</td></tr> <tr class="tr1">
                    <td>US Work
                    </td>
                    <td>13%</td></tr> <tr>
                      <td>portfolio</td>
                      <td>20x20s and Smaller: 20%; 20x20s to 50x50s: 15%; Bigger than 50x50s: 65%</td></tr>
                      <tr class="tr1"><td>Fabrication Space</td>
                        <td>450k</td></tr> 
                        <tr><td>Clients</td>
                          <td>Las Vegas Raiders, Microsoft, Stryker Surgical Technologies
                          </td></tr>
                          <tr class="tr1">
                            <td>RFP Contact</td><td>Jennifer Chia, jen@astoundgroup.com
                          </td></tr>

          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-lg-9 ml-5">
          <a href=""><img src="../../../assets/images/link3.png" width="20px" height="20px"></a>
          <a href=""><img src="../../../assets/images/instagram1.png" width="20px" height="20px" ></a>
          <a href=""><img src="../../../assets/images/fac1.png" width="20px" height="20px" ></a>
          <a href=""><img src="../../../assets/images/twit1.png" width="20px" height="20px" ></a>
        </div>
        <button type="button" class="btn " data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>







    <div  class="col"><a href="" data-toggle="modal" data-target="#myModal" style="text-decoration:none;">
      <div class="card h-100">
        <img src="../../../assets/images/adex.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ADEX INTERNATIONAL</h5>
        </div>
      </div> </a>
    </div>



<!-- The Modal -->
<div class="modal  container  col-lg-12"  id="myModal" width="900px" height="150px" >
  <div class="modal-dialog   row">
    <div class="modal-content  ">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ASTOUND GROUP</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">
        <div class=" col-lg-4"><img src="../../../assets/images/astoundGroup.jpeg" 
          class="card-img-top" alt="astoundGroup" >
        </div>
        <div class="  col-lg-8">
          <table style="width:400px;height: 400px;">
            <tr> <td>Website</td>
              <td>astoundgroup.com </td></tr>
              <tr class="tr1">
                <td>Opned</td>
                <td>2001</td></tr>
                <tr>
                  <td>HQ</td>
                  <td>
                    Las Vegas</td></tr> <tr class="tr1">
                    <td>US Work
                    </td>
                    <td>13%</td></tr> <tr>
                      <td>portfolio</td>
                      <td>20x20s and Smaller: 20%; 20x20s to 50x50s: 15%; Bigger than 50x50s: 65%</td></tr>
                      <tr class="tr1"><td>Fabrication Space</td>
                        <td>450k</td></tr> 
                        <tr><td>Clients</td>
                          <td>Las Vegas Raiders, Microsoft, Stryker Surgical Technologies
                          </td></tr>
                          <tr class="tr1">
                            <td>RFP Contact</td><td>Jennifer Chia, jen@astoundgroup.com
                          </td></tr>

          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-lg-9 ml-5">
          <a href=""><img src="../../../assets/images/link3.png" width="20px" height="20px"></a>
          <a href=""><img src="../../../assets/images/instagram1.png" width="20px" height="20px" ></a>
          <a href=""><img src="../../../assets/images/fac1.png" width="20px" height="20px" ></a>
          <a href=""><img src="../../../assets/images/twit1.png" width="20px" height="20px" ></a>
        </div>
        <button type="button" class="btn " data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>


    <div class="col"><a href="" data-toggle="modal" data-target="#myModal" style="text-decoration:none;" >
      <div class="card h-100"> 
        <img src="../../../assets/images/acer.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">ACER EXHIBITS AND EVENTS </h5>
        </div>
      </div></a>
    </div>

<!-- The Modal -->
<div class="modal  container  col-lg-12"  id="myModal" width="900px" height="150px" >
  <div class="modal-dialog   row">
    <div class="modal-content  ">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ASTOUND GROUP</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">
        <div class=" col-lg-4"><img src="../../../assets/images/astoundGroup.jpeg" 
          class="card-img-top" alt="astoundGroup" >
        </div>
        <div class="  col-lg-8">
          <table style="width:400px;height: 400px;">
            <tr> <td>Website</td>
              <td>astoundgroup.com </td></tr>
              <tr class="tr1">
                <td>Opned</td>
                <td>2001</td></tr>
                <tr>
                  <td>HQ</td>
                  <td>
                    Las Vegas</td></tr> <tr class="tr1">
                    <td>US Work
                    </td>
                    <td>13%</td></tr> <tr>
                      <td>portfolio</td>
                      <td>20x20s and Smaller: 20%; 20x20s to 50x50s: 15%; Bigger than 50x50s: 65%</td></tr>
                      <tr class="tr1"><td>Fabrication Space</td>
                        <td>450k</td></tr> 
                        <tr><td>Clients</td>
                          <td>Las Vegas Raiders, Microsoft, Stryker Surgical Technologies
                          </td></tr>
                          <tr class="tr1">
                            <td>RFP Contact</td><td>Jennifer Chia, jen@astoundgroup.com
                          </td></tr>

          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-lg-9 ml-5">
          <a href=""><img src="../../../assets/images/link3.png" width="20px" height="20px"></a>
          <a href=""><img src="../../../assets/images/instagram1.png" width="20px" height="20px" ></a>
          <a href=""><img src="../../../assets/images/fac1.png" width="20px" height="20px" ></a>
          <a href=""><img src="../../../assets/images/twit1.png" width="20px" height="20px" ></a>
        </div>
        <button type="button" class="btn " data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>

    
    <div class="col"><a href="" data-toggle="modal" data-target="#myModal" style="text-decoration:none;" >
      <div class="card h-100">
        <img src="../../../assets/images/bombshell.jpeg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">BOMBSHELL PRODUCTIONS</h5>
        </div>
      </div></a>
    </div>

    
<!-- The Modal -->
<div class="modal  container  col-lg-12"  id="myModal" width="900px" height="150px" >
  <div class="modal-dialog   row">
    <div class="modal-content  ">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ASTOUND GROUP</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">
        <div class=" col-lg-4"><img src="../../../assets/images/astoundGroup.jpeg" 
          class="card-img-top" alt="astoundGroup" >
        </div>
        <div class="  col-lg-8">
          <table style="width:400px;height: 400px;">
            <tr> <td>Website</td>
              <td>astoundgroup.com </td></tr>
              <tr class="tr1">
                <td>Opned</td>
                <td>2001</td></tr>
                <tr>
                  <td>HQ</td>
                  <td>
                    Las Vegas</td></tr> <tr class="tr1">
                    <td>US Work
                    </td>
                    <td>13%</td></tr> <tr>
                      <td>portfolio</td>
                      <td>20x20s and Smaller: 20%; 20x20s to 50x50s: 15%; Bigger than 50x50s: 65%</td></tr>
                      <tr class="tr1"><td>Fabrication Space</td>
                        <td>450k</td></tr> 
                        <tr><td>Clients</td>
                          <td>Las Vegas Raiders, Microsoft, Stryker Surgical Technologies
                          </td></tr>
                          <tr class="tr1">
                            <td>RFP Contact</td><td>Jennifer Chia, jen@astoundgroup.com
                          </td></tr>

          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-lg-9 ml-5">
          <a href=""><img src="../../../assets/images/link3.png" width="20px" height="20px"></a>
          <a href=""><img src="../../../assets/images/instagram1.png" width="20px" height="20px" ></a>
          <a href=""><img src="../../../assets/images/fac1.png" width="20px" height="20px" ></a>
          <a href=""><img src="../../../assets/images/twit1.png" width="20px" height="20px" ></a>
        </div>
        <button type="button" class="btn " data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
  <div class="col"><a href="" data-toggle="modal" data-target="#myModal" style="text-decoration:none;">
            <div class="card h-100">
              <img src="../../../assets/images/acer.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">ACER EXHIBITS AND EVENTS </h5>
              </div>
            </div></a>
          </div>
          <div class="col"><a href="" data-toggle="modal" data-target="#myModal" style="text-decoration:none;"> 
            <div class="card h-100">
              <img src="../../../assets/images/chik.jpeg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">CHICAGO EXHIBIT PRODUCTIONS
                </h5>
              </div> 
            </div></a>
          </div>
 
<!-- The Modal -->
<div class="modal  container  col-lg-12"  id="myModal" width="900px" height="150px" >
  <div class="modal-dialog   row">
    <div class="modal-content  ">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ASTOUND GROUP</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">
        <div class=" col-lg-4"><img src="../../../assets/images/astoundGroup.jpeg" 
          class="card-img-top" alt="astoundGroup" >
        </div>
        <div class="  col-lg-8">
          <table style="width:400px;height: 400px;">
            <tr> <td>Website</td>
              <td>astoundgroup.com </td></tr>
              <tr class="tr1">
                <td>Opned</td>
                <td>2001</td></tr>
                <tr>
                  <td>HQ</td>
                  <td>
                    Las Vegas</td></tr> <tr class="tr1">
                    <td>US Work
                    </td>
                    <td>13%</td></tr> <tr>
                      <td>portfolio</td>
                      <td>20x20s and Smaller: 20%; 20x20s to 50x50s: 15%; Bigger than 50x50s: 65%</td></tr>
                      <tr class="tr1"><td>Fabrication Space</td>
                        <td>450k</td></tr> 
                        <tr><td>Clients</td>
                          <td>Las Vegas Raiders, Microsoft, Stryker Surgical Technologies
                          </td></tr>
                          <tr class="tr1">
                            <td>RFP Contact</td><td>Jennifer Chia, jen@astoundgroup.com
                          </td></tr>

          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-lg-9 ml-5">
          <a href=""><img src="../../../assets/images/link3.png" width="20px" height="20px"></a>
          <a href=""><img src="../../../assets/images/instagram1.png" width="20px" height="20px" ></a>
          <a href=""><img src="../../../assets/images/fac1.png" width="20px" height="20px" ></a>
          <a href=""><img src="../../../assets/images/twit1.png" width="20px" height="20px" ></a>
        </div>
        <button type="button" class="btn " data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
  <div class="col">
   <a href="" data-toggle="modal" data-target="#myModal" style="text-decoration:none;"> <div class="card h-100">
      <img src="../../../assets/images/centerpoint.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CENTERPOINT MARKETING
        </h5>
      </div>
    </div></a>
  </div>
  
<!-- The Modal -->
<div class="modal  container  col-lg-12"  id="myModal" width="900px" height="150px" >
  <div class="modal-dialog   row">
    <div class="modal-content  ">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ASTOUND GROUP</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">
        <div class=" col-lg-4"><img src="../../../assets/images/astoundGroup.jpeg" 
          class="card-img-top" alt="astoundGroup" >
        </div>
        <div class="  col-lg-8">
          <table style="width:400px;height: 400px;">
            <tr> <td>Website</td>
              <td>astoundgroup.com </td></tr>
              <tr class="tr1">
                <td>Opned</td>
                <td>2001</td></tr>
                <tr>
                  <td>HQ</td>
                  <td>
                    Las Vegas</td></tr> <tr class="tr1">
                    <td>US Work
                    </td>
                    <td>13%</td></tr> <tr>
                      <td>portfolio</td>
                      <td>20x20s and Smaller: 20%; 20x20s to 50x50s: 15%; Bigger than 50x50s: 65%</td></tr>
                      <tr class="tr1"><td>Fabrication Space</td>
                        <td>450k</td></tr> 
                        <tr><td>Clients</td>
                          <td>Las Vegas Raiders, Microsoft, Stryker Surgical Technologies
                          </td></tr>
                          <tr class="tr1">
                            <td>RFP Contact</td><td>Jennifer Chia, jen@astoundgroup.com
                          </td></tr>

          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-lg-9 ml-5">
          <a href=""><img src="../../../assets/images/link3.png" width="20px" height="20px"></a>
          <a href=""><img src="../../../assets/images/instagram1.png" width="20px" height="20px" ></a>
          <a href=""><img src="../../../assets/images/fac1.png" width="20px" height="20px" ></a>
          <a href=""><img src="../../../assets/images/twit1.png" width="20px" height="20px" ></a>
        </div>
        <button type="button" class="btn " data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
  <div class="col">
    <a href="" data-toggle="modal" data-target="#myModal" style="text-decoration:none;"><div class="card h-100">
      <img src="../../../assets/images/creative-dimensions.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">CREATIVE DIMENSIONS</h5>
      </div>
    </div></a>
  </div>
  
<!-- The Modal -->
<div class="modal  container  col-lg-12"  id="myModal" width="900px" height="150px" >
  <div class="modal-dialog   row">
    <div class="modal-content  ">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ASTOUND GROUP</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">
        <div class=" col-lg-4"><img src="../../../assets/images/astoundGroup.jpeg" 
          class="card-img-top" alt="astoundGroup" >
        </div>
        <div class="  col-lg-8">
          <table style="width:400px;height: 400px;">
            <tr> <td>Website</td>
              <td>astoundgroup.com </td></tr>
              <tr class="tr1">
                <td>Opned</td>
                <td>2001</td></tr>
                <tr>
                  <td>HQ</td>
                  <td>
                    Las Vegas</td></tr> <tr class="tr1">
                    <td>US Work
                    </td>
                    <td>13%</td></tr> <tr>
                      <td>portfolio</td>
                      <td>20x20s and Smaller: 20%; 20x20s to 50x50s: 15%; Bigger than 50x50s: 65%</td></tr>
                      <tr class="tr1"><td>Fabrication Space</td>
                        <td>450k</td></tr> 
                        <tr><td>Clients</td>
                          <td>Las Vegas Raiders, Microsoft, Stryker Surgical Technologies
                          </td></tr>
                          <tr class="tr1">
                            <td>RFP Contact</td><td>Jennifer Chia, jen@astoundgroup.com
                          </td></tr>

          </table>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <div class="col-lg-9 ml-5">
          <a href=""><img src="../../../assets/images/link3.png" width="20px" height="20px"></a>
          <a href=""><img src="../../../assets/images/instagram1.png" width="20px" height="20px" ></a>
          <a href=""><img src="../../../assets/images/fac1.png" width="20px" height="20px" ></a>
          <a href=""><img src="../../../assets/images/twit1.png" width="20px" height="20px" ></a>
        </div>
        <button type="button" class="btn " data-dismiss="modal">Close</button>
      </div>

    </div>
  </div>
</div>
  <div class="col">
    <a href="" data-toggle="modal" data-target="#myModal" style="text-decoration:none;" ><div class="card h-100">
      <img src="../../../assets/images/hargrove.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title" id="cardTitle">HARGROVE</h5>
      </div> 
    </div></a>
  </div>
 </div>

 
<!-- The Modal -->
<div class="modal  container  col-lg-12"  id="myModal" width="900px" height="150px" >
  <div class="modal-dialog   row">
    <div class="modal-content  ">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">ASTOUND GROUP</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body ">
        <div class=" col-lg-4"><img src="../../../assets/images/astoundGroup.jpeg" 
          class="card-img-top" alt="astoundGroup" >
        </div>
        <div class="  col-lg-8">
          <table style="width:400px;height: 400px;">
            <tr> <td>Website</td>
              <td>astoundgroup.com </td></tr>
              <tr class="tr1">
                <td>Opned</td>
                <td>2001</td></tr>
                <tr>
                  <td>HQ</td>
                  <td>
                    Las Vegas</td></tr> <tr class="tr1">
                    <td>US Work
                    </td>
                    <td>13%</td></tr> <tr>
                      <td>portfolio</td>
                      <td>20x20s and Smaller: 20%; 20x20s to 50x50s: 15%; Bigger than 50x50s: 65%</td></tr>
                      <tr class="tr1"><td>Fabrication Space</td>
                        <td>450k</td></tr> 
                        <tr><td>Clients</td>
                          <td>Las Vegas Raiders, Microsoft, Stryker Surgical Technologies
                          </td></tr>
                          <tr class="tr1">
                            <td>RFP Contact</td><td>Jennifer Chia, jen@astoundgroup.com
                          </td></tr>

          </table>
        </div>
      </div>

      <!-- Modal footer -->
        <div class="modal-footer">
          <div class="col-lg-9 ml-5">
            <a href=""><img src="../../../assets/images/link3.png" width="20px" height="20px"></a>
            <a href=""><img src="../../../assets/images/instagram1.png" width="20px" height="20px" ></a>
            <a href=""><img src="../../../assets/images/fac1.png" width="20px" height="20px" ></a>
            <a href=""><img src="../../../assets/images/twit1.png" width="20px" height="20px" ></a>
          </div>
          <button type="button" class="btn " data-dismiss="modal">Close</button>
        </div>

    </div>
  </div>
</div>

