
  <header class="page-header-ui page-header-ui-dark  overlay overlay-90" 
  >
    <div class="page-header-ui-content pt-5 py-15 position-relative">
        <div class="container px-5 pt-4">
            <div class="row gx-5">
                <div class="col-xl-6 col-lg-8">
                    <div class="shadow-lg p-3 mb-5   abtbg">
                    <h1 class="page-header-ui-title abt"> 
                    <img src="../../../assets/images/icons8-a-propos-de-nous-homme-50.png" alt="about" width="40px">why Beventful ???</h1>

                    <p class="page-header-ui-text mb-5">The all-in-one event management platform that makes your in-person or virtual B2B events & conferences more successful than ever before. 
                         Registration & ticketing, event networking, attendee check-in and many more.</p>
                    </div>
                </div> 
                <div  class="col-xl-4 ms-5 ">
                    <div class="shadow-lg p-3 mb-5    abtbg">
                    <h1 class="page-header-ui-title abt"> 
                        <img src="../../../assets/images/icons8-horloge-64.png" alt="hour" width="40px"> Working Hours</h1>
                    <p class="page-header-ui-text mb-5">
                        Our services are available 24x7.
                        Contact us anytime   </p>
                    </div>
                </div>
            </div>
            <div class="row gx-5">
                <div class="col-xl-6 col-lg-8 ">
                    <div class="shadow-lg p-3 mb-5 abtbg ">
                    <h1 class="page-header-ui-title abt">
                         <img src="../../../assets/images/icons8-objectif-50.png" alt="objects" width="40px">
                    Our objects</h1>
                    <p class="page-header-ui-text mb-5">
                        Don't take our word for it
                        Beventful doesn't just help you hosting a successful event,
                         we ensure you drive audience engagement and event excellence. 
                         Our event management software is designed to offer you increased benefit 
                        and control over all aspects of your event.</p>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-8">
                    <div class="shadow-lg p-3 mb-5   abtbg">

                    <h1 class="page-header-ui-title abt"> 
                        <img src="../../../assets/images/icons8-adresse-50.png" width="40px" alt="adress"> Address</h1>
                    <p class="page-header-ui-text mb-5">
                        Boulvard Yasser Arafet , Sahloul 1 sousse 4500  </p>
                    </div>
                </div>

            </div>
            <div  class="col-xl-4 ms-5 ">
                <div class="shadow-lg p-3 mb-5    abtbg">
                <h1 class="page-header-ui-title abt"> 
                    <img src="../../../assets/images/mailR.png" alt="hour" width="40px"> Email</h1>
                    <p class="page-header-ui-text mb-5"> Beventify@gmail.com</p>

                </div>
            </div>
            
        </div>
    </div>
   
</header>