
<div class="w3-container w3-card w3-white w3-round w3-margin">
<div class="w3-container w3-center mt-5 detailEv">
    <h2 >Details Event</h2>
  </div><br>
    <div class="w3-row ">
        <div class="w3-container w3-half ">
            <div class="w3-col w3-col-3  m3  "   >
                <div  class="events-date " >
                    <span class="mm" >July</span>
                    <span class="dd " >18</span>
                    <span class="yy" >2022</span>
                </div>
               
               <div   class="details ">
                <hr > 
                <h2>Details</h2>
            
            <table class="table">
                <thead>
            </thead>
                <tbody>
                    <tr><td>Start:</td>
                        <td>18 July 2022 @ 18 h 00 min</td>
                    </tr>
                    <tr><td>End</td>
                        <td>	19 July 2022 @ 4 h 00 min</td>
                    </tr>
                    <tr>
                        <td>event Categories</td>
                        <td>Concert</td>
                    </tr>
                    <tr>
                        <td>Cost</td>
                        <td>63.000DT To 95.000DT</td>
                    </tr>
                </tbody>
            </table>
            </div>
       
            </div>
        </div>
        <div class="w3-container w3-half">
            <div class="w3-col  ms-4 l7  mt-5">
                <div class="titlEv "   >
                    <h2>3OCHAG EDDENYA FIL YÜKA 18 JUILLET</h2>
                    <img class="img-fluid" src="../../../assets/images/nouba.jpg" alt="eventNouba">
                </div>
                 <div class="stats-view mt-5 ms-3 me-2 mb-0 " >
                <p>
                    Lorem ipsum dolor sit, amet consectetur adipisicing elit. 
                    Nobis eos porro officia? Tempore totam velit eligendi, 
                    corrupti quasi consequuntur suscipit possimus iste facere, 
                    inventore ad dolorem. Voluptatum facere est et!
                </p>
    
                   <h3>  <i class="pvc-stats-icon large">
                    <img class="img-fluid" src="../../../assets/images/statistics.png" alt="statics" width="30px" height="30px"></i>
                213,45 total views, 75 views today</h3>
                </div>
             </div>
                
        <br>
      </div></div>
      <div class="w3-container-fluid  w3-center mapAd mb-5 ">
            <h2 >Adress</h2>
                  <iframe width="250px" id="gmap_canvas" src="https://maps.google.com/maps?q=2880%20Broadway,%20New%20York&t=&z=13&ie=UTF8&iwloc=&output=embed" 
                  >
                </iframe><a href="https://123movies-to.org"></a>
         
        </div>
     
</div>